.footer__wrapper {
  display: grid;
  column-gap: 41rem;
}

.footer__title {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin-bottom: 3.2rem;
}

.footer__subtitle {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin-bottom: 3.2rem;
}

.footer__social-box {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5rem;
}

.footer__social-block {
  font-family: "Gotham";
  @include font(2rem, 130%);
  color: $text-color;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__social-block_tg::before {
  content: '';
  display: block;
  background-image: url(./assets/images/telegram-icon.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 1rem;
}

.footer__social-block_whatsapp::before {
  content: '';
  display: block;
  background-image: url(./assets/images/whatsapp-icon.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 1rem;
}

.footer__btn-box {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.footer__details {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  grid-row: 2 / 6;
  grid-column: 2 / 3;
}

.footer__details-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $border-gray-color;
  align-items: flex-end;
  padding-bottom: 0.6rem;
}

.footer__details-contact {
  font-family: "Gotham";
  @include font(2.2rem, 130%, 700);
  color: $text-color;
  text-align: right;
  width: 58%;
}

.footer__nav, .footer__work-hours, .footer__back-header {
  margin-top: 5rem;
}

.footer__nav {
  display: flex;
  gap: 6rem;
  grid-row: 6 / 7;
  grid-column: 1 / 2;
}

.footer__nav-item {
  list-style: none;
  font-family: "Gotham";
  @include font(1.8rem, 105%, 200);
  color: #FFF;
}

.footer__work-hours {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
}

.footer__work-hours-title {
  margin-bottom: 2.2rem;
}

.footer__work-hours-time {
  font-family: "Gotham";
  @include font(2.2rem, 130%, 700);
  color: $text-color;
}

.footer__copy-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Gotham";
  @include font(1.8rem, 106%, 400);
}

.footer__copy {
  margin-top: 3.3rem;
  border-top: 2px solid $border-gray-color;
  padding: 3rem 0 6rem;
}

.footer__copy-rd {
  display: flex;
  align-items: center;
}

.footer__copy-img-box {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1rem;
}

.footer__back-header {
  grid-row: 6/7;
  grid-column: 2/3;
  justify-self: end;
  margin-top: 5rem;
}

.footer__link-back-img {
  width: 5rem;
  height: 5rem;
}