.header {
  color: $header-text-color;
  font-family: "Gotham";
  @include font(1.8rem, 105%);
  position: relative;
}
.header__wrapper {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  @include media-screen {
    padding-top: 1.2rem;
    justify-content: flex-end;
    gap: 16.5rem;
    position: relative;
  }
}
.header__logo {
  display: block;
  width: 8.6rem;
  height: 8.6rem;
}
.header__nav {
  display: flex;
  align-items: center;
  @include media-screen {
    display: none;
  }
}
.header__nav-item {
  list-style: none;
  padding: 1rem 2rem;
  background-color: none;
  z-index: 25;
  &:hover {
    background-color: $background-color;
    color: $primary-color;
  }
}
.header__nav-link {
  position: relative;
  z-index: 25;
}
.header__info {
  display: flex;
  align-items: center;
  gap: 6rem;
  @include media-screen {
    display: none;
  }
}
.header__countries-box {
  display: flex;
  gap: 1rem;
  width: 30rem;
}
.header__contacts-item:not(:last-child) {
  margin-bottom: 1rem;
}

.header__contacts-link {
  &.hidden {
    display: none;
  }
}

// countries dropdown

.header__countries-dropdown {
  position: relative;
  width: 12rem;
  cursor: pointer;
  &.active {
    .header__countries-select:hover {
      color: $primary-color;
    }
    .countries-icon {
      transform: rotate(90deg);
    }
  }
}

.header__countries-select {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.countries-icon {
  width: 1.4rem;
  height: 1.4rem;
  transition: transform 0.3s ease-in-out;
}

.header__countries-select {
  margin-bottom: 0.8rem;
  &:hover {
    color: $primary-color;
  }
}

.header__countries-list {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  transition: max-height 0.5s ease-in-out;
  &.active {
    max-height: 100rem;
  }
}

.header__countries-item {
  list-style: none;
  margin-bottom: 0.8rem;
  &.hidden {
    display: none;
  }
  &:hover {
    color: $primary-color;
  }
}

// Catalog dropdown menu

.header__nav-item.catalog-link {
  .header__nav-link {
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
  }
  .header__catalog-item-icon {
    width: 1.4rem;
    height: 1.4rem;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &:hover {
    .header__catalog-item-icon {
      transform: rotate(180deg);
    }
  }
}

.catalog-link {
  position: relative;
}

.catalog__drop-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5rem;
  z-index: 20;
}

.catalog-link:hover {
  .catalog__drop-wrapper{
    display: block;
  }
}

.catalog__drop-menu {
  background-color: $background-color;
  padding: 2rem;
  padding-right: 0;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 60.5rem;
  width: max-content;
}

.catalog__drop-link {
  min-width: 26.7rem;
  width: 26.7rem;
  margin-right: 4rem;
  color: $header-text-color;
  &:hover {
    color: $primary-color;
  }
}

// burger menu

.header-menu_mobile {
  display: none;
  @include media-screen {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    position: absolute;
    left: 0;
    top: 5rem;
  }
}

.header__contacts_mobile {
  display: none;
  @include media-screen {
    display: flex;
    gap: 2.4rem;
    align-items: center;
  }
}

.header__contacts-link_mobile {
  @include media-screen {
    width: 5.6rem;
    height: 5.6rem;
  }
}

.hamburger__wrapper {
  position: absolute;
  left: 0;
}

.header {
  &__burger-menu {
    display: none;
    overflow: scroll;
    @include media-screen {
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 0;
      z-index: 50;
      background-color: $background-color;
      width: 100%;
      height: 100%;
      padding: 3.2rem;
      top: 0;
      transform: translateX(-100vw);
      transition: transform 0.5s ease-in-out;
      &.active {
        left: 0;
        transform: translateX(0);
      }
    }
  }
  &__burger-top {
    display: flex;
    justify-content: space-between;
    .header__logo {
      width: 14rem;
      height: 14rem;
    }
    .btn_round {
      width: 8rem;
      height: 8rem;
      padding: 1rem;
    }
  }
  &__nav_mobile {
    font-family: "Gotham";
    @include font(3.2rem, 130%);
    color: $text-color;
    padding: 8rem 0 12rem 0;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    .header__nav-item {
      padding: 0;
    }
  }
  &__burger-phones {
    border-top: solid 0.2rem $border-gray-color;
    @include font(2.8rem, 136%, 700);
    padding: 4rem 0;
    display: flex;
    gap: 3.6rem;
    &::before {
      content: '';
      display: block;
      background-image: url(./assets/images/header__tel-icon.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      width: 5.6rem;
      height: 5.6rem;
    }
  }
  &__burger-phone-list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  &__burger-tel {
    display: flex;
    gap: 1.6rem;
    &-title {
      @include font(3.2rem, 130%, 400);
      color: $gray-text-color;
    }
  }
  &__burger-email {
    border-top: solid 0.2rem $border-gray-color;
    border-bottom: solid 0.2rem $border-gray-color;
    @include font(2.8rem, 136%, 700);
    padding: 4rem 0;
    display: flex;
    gap: 3.6rem;
    align-items: center;
    margin-bottom: 12rem;
    &::before {
      content: '';
      display: block;
      background-image: url(./assets/images/header__email-icon.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      width: 5.6rem;
      height: 5.6rem;
    }
  }
}

// burger menu catalog

.header__burger-catalog {
  display: none;
  overflow: scroll;
  @include media-screen {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    z-index: 50;
    background-color: $background-color;
    width: 100%;
    height: 100%;
    padding: 3.2rem;
    top: 0;
    transform: translateX(-100vw);
    transition: transform 0.5s ease-in-out;
    &.active {
      left: 0;
      transform: translateX(0);
    }
  }
  .catalog__drop-wrapper {
    display: flex;
    position: relative;
    padding: 0;
    padding-top: 3rem;
  }
  .catalog__drop-menu {
    max-height: fit-content;
    flex-wrap: nowrap;
    background-color: #00000000;
    width: 100%;
    padding: 0;
    row-gap: 3.2rem;
  }
  .catalog__drop-link {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    @include font(3.2rem, 130%);
    width: 100%;
    max-width: 100%;
    color: $text-color;
  }
  .header__burger-catalog-title {
    font-family: "Soniano Sans Unicode";
    @include font(4rem, 120%);
    margin-left: 2rem;
    color: $text-color;
  }
  .burger-catalog__back {
    width: 5.6rem;
    height: 5.6rem;
  }
  .header__burger-top {
    align-items: center;
  }
}

.burger__catalog-img {
  width: 8rem;
}