.header {
  color: $header-text-color;
  font-family: "Gotham";
  @include font(1.8rem, 105%);
}
.header__wrapper {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  @include media-screen {
    padding-top: 1.2rem;
    justify-content: flex-end;
    gap: 16.5rem;
    position: relative;
  }
}
.header__logo {
  display: block;
  width: 8.6rem;
  height: 8.6rem;
}
.header__nav {
  display: flex;
  align-items: center;
  @include media-screen {
    display: none;
  }
  &_mobile {
    display: none;
    @include media-screen {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: -100vw;
      &.active {
        left: 0;
        top: 0;
      }
    }
  }
}
.header__nav-item {
  list-style: none;
  padding: 1rem 2rem;
  background-color: none;
  z-index: 25;
  &:hover {
    background-color: $background-color;
    color: $primary-color;
  }
}
.header__nav-link {
  position: relative;
  z-index: 25;
}
.header__info {
  display: flex;
  align-items: center;
  gap: 6rem;
  @include media-screen {
    display: none;
  }
}
.header__countries-box {
  display: flex;
  gap: 1rem;
  width: 30rem;
}
.header__contacts-item:not(:last-child) {
  margin-bottom: 1rem;
}

.header__contacts-link {
  &.hidden {
    display: none;
  }
}

.header-menu_mobile {
  display: none;
  @include media-screen {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    position: absolute;
    left: 0;
    top: 5rem;
  }
}

.header__contacts_mobile {
  display: none;
  @include media-screen {
    display: flex;
    gap: 2.4rem;
    align-items: center;
  }
}

.hamburger__wrapper {
  position: absolute;
  left: 0;
}

// countries dropdown

.footer__countries-dropdown {
  position: relative;
  width: 12rem;
  cursor: pointer;
  .footer__countries-select {
    transition: color 0.5s ease-in-out;
  }
  &.active {
    .footer__countries-select {
      color: #FFC700;
    }
    .countries-icon {
      transform: rotate(90deg);
    }
  }
}

.footer__countries-select {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.countries-icon {
  width: 1.4rem;
  height: 1.4rem;
  transition: transform 0.3s ease-in-out;
}

.footer__countries-select {
  margin-bottom: 0.8rem;
}

.footer__countries-list {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  transition: max-height 0.5s ease-in-out;
  &.active {
    max-height: 100rem;
  }
}

.footer__countries-item {
  list-style: none;
  margin-bottom: 0.8rem;
  &.hidden {
    display: none;
  }
}

// Catalog dropdown menu

.catalog-link {
  position: relative;
}

.catalog__drop-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5rem;
  z-index: 20;
}

.catalog-link:hover {
  .catalog__drop-wrapper{
    display: block;
  }
}

.catalog__drop-menu {
  background-color: $background-color;
  padding: 2rem;
  padding-right: 0;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 60.5rem;
  width: max-content;
}

.catalog__drop-link {
  min-width: 26.7rem;
  width: 26.7rem;
  margin-right: 4rem;
  color: $header-text-color;
  &:hover {
    color: $primary-color;
  }
}