$primary-color: #FFC700;
$background-color: #232125;
$header-text-color: #FFF;
$text-color: #EAEAEA;
$gray-text-color: #A4A4A4;
$btn-text-color: #232125;
$cards-bg-color: rgba(255, 255, 255, 0.15);
$border-gray-color: #747474;
$placeholder-text-color: #A4A4A4;