.btn_rect {
  background-color: $primary-color;
  border: solid 2px #FFC700;
  padding: 0.7rem 1.7rem;
  color: #232125;
  font-family: "Soniano Sans Unicode";
  @include font(2rem, 120%);
  transition: all 0.3s ease-in-out;
  @include media-screen {
    @include font(3.2rem, 150%);
    padding: 0.8rem 2.4rem;
  }
}

.btn_rect-plus {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  width: fit-content;
  align-items: center;
}

.btn_rect-plus::after {
  content: '';
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  background-image: url(./assets/images/btn-plus.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 9.5rem;
  transition: all 0.3s ease-in-out;
  @include media-screen {
    width: 5.6rem;
    height: 5.6rem;
    margin-left: 7.2rem;
  }
}

.btn_rect:hover {
  border: solid 2px #FFC700;
  background-color: $background-color;
  color: #FFC700;;
}

.btn_rect-plus:hover::after {
  background-image: url(./assets/images/btn-plus_yellow.svg);
}

.btn_round {
  background-color: $primary-color;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  @include media-screen {
    width: 5.6rem;
    height: 5.6rem;
  }
}

.btn-docs-link {
  align-items: center;
  display: flex;
  font-family: "Soniano Sans Unicode";
  @include font(2rem, 120%);
  color: $primary-color;
  padding: 1.2rem 2rem;
  cursor: pointer;
  &:hover {
    border: solid 0.2px $primary-color;
    padding: 1rem 1.8rem;
  }
  @include media-screen {
    align-self: flex-start;
    @include font(3.2rem, 120%);
  }
  &:hover {
    .load-btn {
      background: #00000000;
      background-image: url(./assets/images/download_icon_yellow.svg);
      background-size: 95%;
      background-position: center;
    }
    .plus-btn {
      background: #00000000;
      background-image: url(./assets/images/btn-plus_yellow.svg);
      background-size: 95%;
      background-position: center;
    }
  }
}

.load-btn {
  margin-left: 1.6rem;
  background-image: url(./assets/images/download_icon.svg);
  background-size: 90%;
  background-position: center;
  @include media-screen {
    margin-left: 3rem;
  }
}

.plus-btn {
  margin-left: 1.6rem;
  background-image: url(./assets/images/btn-plus.svg);
  background-size: 90%;
  background-position: center;
  @include media-screen {
    margin-left: 3rem;
  }
}

.btn_round-plus {
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  &::after {
    content: '';
    display: block;
    background-image: url(./assets/images/btn-plus_yellow.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 3.6rem;
  }
  &:hover {
    background-color: $primary-color;
    &::after {
      background-image: url(./assets/images/btn-plus.svg);
    }
  }
  @include media-screen {
    width: 5.6rem;
    height: 5.6rem;
    &::after {
      height: 5.6rem;
    }
  }
}