.btn_rect {
  background-color: $primary-color;
  border: solid 2px #FFC700;
  padding: 0.7rem 1.7rem;
  color: #232125;
  font-family: "Soniano Sans Unicode";
  @include font(2rem, 120%);
}

.btn_rect-plus {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.btn_rect-plus::after {
  content: '';
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  background-image: url(./assets/images/btn-plus.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 9.5rem;
  transition: all 0.3s ease-in-out;
}

.btn_rect-plus:hover {
  border: solid 2px #FFC700;
  background-color: #0000;
  color: #FFC700;;
}

.btn_rect-plus:hover::after {
  background-image: url(./assets/images/btn-plus_yellow.svg);
}

.btn_round {
  background-color: $primary-color;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
}