.form-write {
  &__label {
    font-family: "Gotham";
    @include font(1.8rem, 105%);
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 0.2rem solid $border-gray-color;
    &-text {
      color: $text-color;
      margin-bottom: 0.8rem;
      span {
        color: $primary-color;
      }
      @include media-screen {
        margin-bottom: 1.6rem;
      }
    }
    @include media-screen {
      font-size: 2.8rem;
    }
  }
  &__label-block {
    font-family: "Gotham";
    @include font(1.8rem, 105%);
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 0.2rem solid $border-gray-color;
    &-text {
      color: $text-color;
      margin-bottom: 0.8rem;
      span {
        color: $primary-color;
      }
      @include media-screen {
        margin-bottom: 1.6rem;
      }
    }
    @include media-screen {
      font-size: 2.8rem;
    }
  }
  &__input {
    color: $text-color;
    &::placeholder {
      color: $placeholder-text-color;
    }
    @include media-screen {
      padding-bottom: 0.8rem;
    }
  }
  input[name=comment] {
    margin-top: 5.5rem;
    padding-bottom: 1.5rem;
    @include media-screen {
      margin-top: 12rem;
    }
  }
}

.form__required-msg {
  position: absolute;
  bottom: -2.2rem;
  opacity: 0;
  transform: translateY(-2rem);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  color: $primary-color;
  z-index: -10;
  @include media-screen {
    bottom: -4.2rem;
  }
  &.visible {
    opacity: 1;
    z-index: 100;
    transform: translateY(0);
  }
}

.form-write__btn {
  @include media-screen {
    margin-top: -3rem;
  }
}