.modal {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.15);
  visibility: hidden;
  z-index: 100;
  transition: opacity 0.5s, visibility 1.5s;
  overflow: scroll;
  &.active {
    opacity: 1;
    z-index: 100;
    visibility: unset;
    .modal__inner {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.modal__inner {
  background-color: $background-color;
  margin: auto;
  position: relative;
  width: fit-content;
  padding: 4rem 20.3rem;
  transform: scale(0.1);
  opacity: 0;
  transition: transform 700ms, opacity 250ms;
  @include media-screen {
    padding: 11.2rem 3.2rem 7rem 3.2rem;
  }
}

.modal__close {
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: $primary-color;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  @include media-screen {
    width: 8rem;
    height: 8rem;
    top: 5rem;
    right: 3rem;
  }
}

.modal__title {
  text-align: center;
}

.modal__content-form {
  margin: 2.9rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  @include media-screen {
    margin: 6.4rem 0 5.6rem;
    gap: 6rem;
  }
}

.modal-write-me {
  .modal__content {
    width: 43.1rem;
    @include media-screen {
      width: 62.2rem;
    }
  }
  &__subtitle {
    font-family: "Gotham";
    @include font(1.6rem, 119%);
    @include media-screen {
      @include font(2.4rem, 159%);
    }
  }
  &__subtitle-link {
    text-decoration-line: underline;
  }
}

.modal__close-icon {
  width: 2.8rem;
  height: 2.8rem;
  @include media-screen {
    width: 5.6rem;
    height: 5.6rem;
  }
}