.genl-title {
  font-family: "Soniano Sans Unicode";
  @include font(6rem, 100%);
  color: $text-color;
}
.genl-title span {
  color: $primary-color;
}
.genl-text {
  font-family: "Gotham";
  @include font(2rem, 130%);
}