<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <h2 class="footer__title genl-title">Контактная информация</h2>
      <p class="footer__subtitle genl-subtitle">Будем рады ответить на все Ваши вопросы.<br><span>Звоните нам!</span></p>
      <div class="footer__social-box">
        <div class="footer__social-block footer__social-block_tg">
          <a href="" class="footer__social-link">+7 701 995 08 68;</a>
          <a href="" class="footer__social-link">+7 701 783 36 17</a>
        </div>
        <div class="footer__social-block footer__social-block_whatsapp">
          <a href="" class="footer__social-link">+7 701 995 08 68;</a>
          <a href="" class="footer__social-link">+7 701 783 36 17</a>
        </div>
      </div>
      <div class="footer__btn-box">
        <button class="write-me__btn btn_rect btn_rect-plus">Написать мне</button>
      </div>
      <nav class="footer__nav">
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link">Главная</a>
        </li>
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link">О нас</a>
        </li>
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link">Логистика</a>
        </li>
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link">Каталог</a>
        </li>
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link">Контакты</a>
        </li>
      </nav>
      <div class="footer__details">
        <div class="footer__details-item">
          <div class="footer__details-type genl-text">Телефон в России</div>
          <a href="" class="footer__details-contact">+7 (925) 785-53-19</a>
        </div>
        <div class="footer__details-item">
          <div class="footer__details-type genl-text">Телефон в Казахстане</div>
          <a href="" class="footer__details-contact">+7 (701) 783-36-17</a>
        </div>
        <div class="footer__details-item">
          <div class="footer__details-type genl-text">E-mail</div>
          <a href="" class="footer__details-contact">info@way-one.ru</a>
        </div>
        <div class="footer__details-item">
          <div class="footer__details-type genl-text">Адрес в России</div>
          <a href="" class="footer__details-contact" target="_blank">Россия, г. Москва, ул.Гиляровского, д. 39, ст.1</a>
        </div>
        <div class="footer__details-item">
          <div class="footer__details-type genl-text">Адрес в Китае</div>
          <a href="" class="footer__details-contact" target="_blank">42 Hijing Road Chancheng District of Foshan City Guangdong Province</a>
        </div>
      </div>
      <div class="footer__work-hours">
        <p class="footer__work-hours-title genl-text">Время работы</p>
        <p class="footer__work-hours-time">Пн-Пт с 9:00 до 18:00</p>
        <p class="footer__work-hours-time">Сб-Вс с 10:00 до 17:00</p>
      </div>
    </div>
  </div>
  <div class="footer__copy">
    <div class="container">
      <div class="footer__copy-wrapper">
        <div class="footer__copy-date">© 2022-2023 Права защищены</div>
        <a href="" class="footer__copy-rd" target="_blank">
          <div class="footer__copy-img-box">
            <img src="./assets/images/rd-icon.svg" alt="Request Design icon" class="footer__copy-img">
          </div>
          <p class="footer__copy-rd-text">Разработано Request Design</p>
        </a>
      </div>
    </div>
  </div>
</footer>