<header class="header" id="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="" class="header__logo">
        <img src="./assets/images/logo.svg" alt="WayOne" class="header__logo-img">
      </a>
      <nav class="header__nav">
        <li class="header__nav-item">
          <a href="" class="header__nav-link">Главная</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link">О нас</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link">Логистика</a>
        </li>
        <li class="header__nav-item catalog-link">
          <a href="" class="header__nav-link">Каталог</a>
          <div class="catalog__drop-wrapper">
            <div class="catalog__drop-menu">
              <a href="" class="catalog__drop-link">Керамогранит</a>
              <a href="" class="catalog__drop-link">Керамическая плитка</a>
              <a href="" class="catalog__drop-link">Деревянная плитка</a>
              <a href="" class="catalog__drop-link">Металлическая плитка</a>
              <a href="" class="catalog__drop-link">Диваны</a>
              <a href="" class="catalog__drop-link">Кресла</a>
              <a href="" class="catalog__drop-link">Столы</a>
              <a href="" class="catalog__drop-link">Стулья</a>
              <a href="" class="catalog__drop-link">Светильники</a>
              <a href="" class="catalog__drop-link">Люстры</a>
              <a href="" class="catalog__drop-link">Торшеры</a>
              <a href="" class="catalog__drop-link">Бра</a>
              <a href="" class="catalog__drop-link">Споты</a>
              <a href="" class="catalog__drop-link">Софиты</a>
              <a href="" class="catalog__drop-link">Сантехники</a>
              <a href="" class="catalog__drop-link">Унитазы</a>
              <a href="" class="catalog__drop-link">Паркет</a>
              <a href="" class="catalog__drop-link">Деревянные жалюзи</a>
              <a href="" class="catalog__drop-link">Офисная мебель</a>
              <a href="" class="catalog__drop-link">Мебель для ресторанов</a>
              <a href="" class="catalog__drop-link">Мебель для гостиниц</a>
              <a href="" class="catalog__drop-link">Декор для интерьеров</a>
              <a href="" class="catalog__drop-link">Декоративные отделочные материалы</a>
              <a href="" class="catalog__drop-link">Ротанговая мебель</a>
              <a href="" class="catalog__drop-link">Зонты для летних площадок</a>
              <a href="" class="catalog__drop-link">Искусственные растения</a>
            </div>
          </div>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link">Контакты</a>
        </li>
      </nav>
      <div class="header__info">
        <div class="header__countries-box">
          <div class="footer__countries-dropdown">
            <div class="footer__countries-select">
              <span class="countries-selected" data-country="0">Россия</span>
              <div class="countries-icon">
                <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" class="countries-icon">
                  <path id="arrow-dropdown" d="M10.4539 4.77161H6.81975H3.54725C2.98725 4.77161 2.70725 5.44827 3.10392 5.84494L6.12559 8.86661C6.60975 9.35077 7.39725 9.35077 7.88142 8.86661L9.03059 7.71744L10.9031 5.84494C11.2939 5.44827 11.0139 4.77161 10.4539 4.77161Z" fill="currentColor"/>
                  </svg>
              </div>
            </div>
            <div class="footer__countries-list">
              <li class="footer__countries-item hidden" data-country="0">Россия</li>
              <li class="footer__countries-item" data-country="1">Казахстан</li>
            </div>
          </div>
          <div class="header__contacts">
            <div class="header__contacts-item">
              <a href="" class="header__contacts-link">+7 (701) 783-36-17</a>
            </div>
            <div class="header__contacts-item">
              <a href="" class="header__contacts-link">info@way-one.ru</a>
            </div>
          </div>
        </div>
        <div class="header__btn-box">
          <button class="write-me__btn btn_rect">Написать мне</button>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="modal modal-write-me">
  <div class="modal__inner modal-write-me__inner">
    <div class="modal__content">
      <div class="modal__close">
        <img src="./assets/images/modal-close-icon.svg" alt="x" class="modal__close-icon">
      </div>
      <h2 class="modal__title genl-title">Написать мне</h2>
      <form method="post" action="" class="modal__content-form form-write">
        <label for="name" class="form-write__label">
          <span>Ваше имя</span>
          <input type="text" name="name" class="form-write__input" placeholder="Иван">
        </label>
        <label for="tel" class="form-write__label">
          <span>Телефон</span>
          <input type="tel" name="tel" class="form-write__input" placeholder="+7 (999) 999-99-99" required>
        </label>
        <label for="email" class="form-write__label">
          <span>E-mail</span>
          <input type="email" name="email" class="form-write__input" placeholder="example@mail.com">
        </label>
        <label for="comment" class="form-write__label">
          <span>Комментарий</span>
          <input type="text" name="comment" class="form-write__input" placeholder="Ваш комментарий">
        </label>
        <button class="form-write__btn btn_rect btn_rect-plus">Отправить</button>
      </form>
      <p class="modal-write-me__subtitle">
        Нажимая кнопку «отправить», вы подтверждате что ознакомлены с <a href="" class="modal-write-me__subtitle-link">пользовательским соглашением</a>
      </p>
    </div>
  </div>
</div>