<header class="header" id="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="" class="header__logo">
        <img src="./assets/images/logo.svg" alt="WayOne" class="header__logo-img">
      </a>
      <nav class="header__nav">
        <li class="header__nav-item">
          <a href="" class="header__nav-link">Главная</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link">О нас</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link">Логистика</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link">Каталог</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link">Контакты</a>
        </li>
      </nav>
      <div class="header__info">
        <div class="header__countries-box">
          <div class="header__countries-list">
            <div class="header__countries-item">Россия</div>
          </div>
          <div class="header__contacts">
            <div class="header__contacts-item">
              <a href="" class="header__contacts-link">+7 (701) 783-36-17</a>
            </div>
            <div class="header__contacts-item">
              <a href="" class="header__contacts-link">info@way-one.ru</a>
            </div>
          </div>
        </div>
        <div class="header__btn-box">
          <button class="write-me__btn btn_rect">Написать мне</button>
        </div>
      </div>
    </div>
  </div>
</header>