@import './main';
@import './about';
@import './catalog';
@import './catalog-detail';
@import './product';
@import './logistics';
@import './contacts';
@import './chinese-information';
@import './user-agreements';