.category-details {
  padding: 7rem 0;
  .container {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 4rem;
    @include media-screen {
      margin-bottom: 5rem;
    }
  }
}

.category-benefits {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @include media-screen {
    gap: 7.5rem;
  }
  &__item {
    display: flex;
    gap: 4rem;
    &:nth-child(2n) {
      flex-direction: row-reverse;
      @include media-screen {
        flex-direction: column;
      }
    }
    @include media-screen {
      flex-direction: column;
      gap: 3rem;
    }
    &:nth-child(1) {
      .category-benefits__info {
        background-image: url(./assets/images/category_detail-benefit_1.svg);
        background-repeat: no-repeat;
        background-position: 100% 0;
        @include media-screen {
          background-image: url(./assets/images/category_detail-benefit_1_mobile.svg);
          background-position: 100% 100%;
        }
      }
    }
    &:nth-child(2) {
      .category-benefits__info {
        background-image: url(./assets/images/category_detail-benefit_2.svg);
        background-repeat: no-repeat;
        background-position: 100% 0;
        @include media-screen {
          background-image: url(./assets/images/category_detail-benefit_2_mobile.svg);
          background-position: 100% 100%;
        }
      }
    }
    &:nth-child(3) {
      .category-benefits__info {
        background-image: url(./assets/images/category_detail-benefit_3.svg);
        background-repeat: no-repeat;
        background-position: 96% 0;
        @include media-screen {
          background-image: url(./assets/images/category_detail-benefit_3_mobile.svg);
          background-position: 100% 100%;
        }
      }
      .category-benefits__img-box {
        width: 61rem;
        @include media-screen {
          width: 100%;
        }
      }
    }
  }
  &__info {
    width: 113rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    @include media-screen {
      width: 68.6rem;
      height: 70rem;
    }
  }
  &__title {
    margin-top: auto;
    margin-bottom: 3rem;
    br {
      display: none;
    }
    @include media-screen {
      margin-top: 0rem;
      margin-bottom: 2rem;
      br {
        display: block;
      }
    }
  }
  &__text {
    width: 83.5rem;
    color: $text-color;
    @include media-screen {
      width: 100%;
    }
  }
  &__img-box {
    width: 54.7rem;
    @include media-screen {
      width: 100%;
    }
  }
}

.category-catalog {
  padding: 8.5rem 0;
  .container {
    display: flex;
    flex-direction: column;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    @include media-screen {
      flex-direction: column;
      align-items: flex-start;
      gap: 5rem;
      margin-bottom: 7rem;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-bottom: 5rem;
    @include media-screen {
      row-gap: 3.6rem;
      column-gap: 2rem;
      margin-bottom: 6.7rem;
    }
  }
  &__item {
    width: 40rem;
    @include media-screen {
      width: 33.3rem;
    }
    &:hover {
      .category-catalog__item-title {
        color: $primary-color;
      }
      .category-catalog__img-box {
        filter: grayscale(0);
      }
      .btn_round-plus {
        background-color: $primary-color;
        &::after {
          background-image: url(./assets/images/btn-plus.svg);
        }
      }
    }
  }
  &__img-box {
    filter: grayscale(1);
    background-color: $cards-bg-color;
    background-image: url(./assets/images/catalog-detail__no-image.svg);
    background-repeat: no-repeat;
    background-position: 16% 17%;
    width: 40rem;
    height: 35rem;
    @include media-screen {
      width: 33.3rem;
      height: 29rem;
      background-size: 23%;
      filter: grayscale(0);
    }
  }
  &__item-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
  }
  &__item-text {
    @include media-screen {
      margin-top: 0.4rem;
    }
  }
  &__item-title {
    margin-bottom: 0.8rem;
    color: $text-color;
    letter-spacing: 0.05rem;
    @include media-screen {
      margin-bottom: 1rem;
    }
  }
  &__item-subtitle {
    font-family: "Gotham";
    color: $text-color;
    @include font(1.8rem, 106%);
    @include media-screen {
      color: $gray-text-color;
      font-size: 2.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 33.3rem;
    }
  }
  &__more-btn {
    margin: 0 auto;
    @include media-screen {
      display: flex;
      align-items: center;
      &::after {
        content: '';
        display: block;
        background-image: url(./assets/images/btn-plus.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        transition: all 0.3s ease-in-out;
        width: 5.6rem;
        height: 5.6rem;
        margin-left: 7.2rem;
      }
      &:hover::after {
        background-image: url(./assets/images/btn-plus_yellow.svg);
      }
    }
  }
  &__btn {
    @include media-screen {
      display: none;
    }
  }
}

.category-info {
  margin: 7.5rem 0 15rem;
  @include media-screen {
    margin-bottom: 1rem;
  }
  &__wrapper {
    display: grid;
    column-gap: 9rem;
    @include media-screen {
      display: flex;
      flex-direction: column;
    }
  }
  &__section-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 4rem;
    color: $text-color;
    br {
      display: none;
    }
    @include media-screen {
      margin-top: 3rem;
      br {
        display: block;
      }
    }
  }
  &__img-box {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    width: 69.3rem;
    filter: grayscale(1);
    &:hover {
      filter: grayscale(0);
    }
    @include media-screen {
      filter: grayscale(0);
      height: 41rem;
      display: flex;
    }
  }
  &__lemma {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    margin-bottom: 3rem;
  }
  &__text_right {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    color: $text-color;
    font-weight: 300;
    line-height: 138%;
    @include media-screen {
      font-weight: 400;
      line-height: 130%;
    }
  }
  &__text_left {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    color: $text-color;
    font-weight: 300;
    line-height: 138%;
    @include media-screen {
      margin-top: 3.5rem;
      font-weight: 400;
      line-height: 130%;
    }
  }
  &__subtitle {
    grid-column: 2 / 4;
    grid-row: 4;
    margin-top: auto;
    br {
      display: none;
    }
    @include media-screen {
      margin-bottom: 3.5rem;
      br {
        display: block;
      }
    }
  }
}