.chinese-info {
  margin: 7.5rem 0 15.5rem;
  @include media-screen {
    margin: 7rem 0 1rem;
  }
  &__title {
    margin-bottom: 3.5rem;
    @include media-screen {
      margin-bottom: 5rem;
    }
  }
  .chinese__br {
    @include media-screen {
      display: none;
    }
  }
}