.contacts {
  margin: 7.5rem 0 15.5rem;
  @include media-screen {
    margin: 7rem 0 0.5rem;
  }
  &__title {
    margin-bottom: 3.5rem;
    @include media-screen {
      margin-bottom: 5.5rem;
    }
  }
  &__info-wrapper {
    display: flex;
    @include media-screen {
      flex-direction: column-reverse;
    }
  }
  &__map {
    width: 84rem;
    height: 57.7rem;
    filter: grayscale(1);
    &:hover {
      filter: grayscale(0);
    }
    @include media-screen {
      width: 68.6rem;
      height: 80rem;
    }
  }
  &__info {
    width: 88rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @include media-screen {
      width: 68.6rem;
    }
  }
  &__details {
    margin-left: 4rem;
    @include media-screen {
      margin: 0;
    }
    &_address {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @include media-screen {
        gap: 7.5rem;
      }
    }
    &_email {
      .contacts__details-item {
        display: flex;
      }
      .contacts__details-type {
        margin-right: 2rem;
      }
      .contacts__details-item {
        @include media-screen {
          flex-direction: row;
        }
      }
    }
    &_socials {
      display: flex;
      gap: 3rem;
      @include media-screen {
        margin-top: 1rem;
        gap: 0;
        justify-content: space-between;
      }
    }
  }
  &__details-text {
    color: $text-color;
    br {
      display: none;
      @include media-screen {
        display: block;
      }
    }
  }
  &__details-item {
    display: grid;
    grid-template-columns: 19rem 1fr;
    @include media-screen {
      display: flex;
      flex-direction: column;
    }
  }
  &__details-type {
    text-wrap: nowrap;
  }
  &__info-bottom {
    margin-top: 1.5rem;
    width: 88rem;
    height: 28.5rem;
    display: flex;
    flex-direction: column;
    @include media-screen {
      width: 68.6rem;
      height: 32rem;
      margin-bottom: 7rem;
    }
  }
  &__rec-call {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-title {
      color: $text-color;
    }
    @include media-screen {
      align-items: flex-start;
    }
  }
  &__tel-box {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__tel-item {
    display: flex;
    gap: 1rem;
  }
  &__tel-text {
    color: $gray-text-color;
  }
}

[class*="copyrights-pane"] {
  display: none !important;
}