// BANER section
.main-banner .container {
  max-width: 192rem;
  width: 100%;
  padding: 0 10rem;
  position: relative;
}

.main-banner {
  padding-top: 15.5rem;
  padding-bottom: 39rem;
  @include media-screen {
    padding-bottom: 16rem;
  }
}
.main__info {
  width: 75rem;
  @include media-screen {
    margin-top: -17rem;
    width: 68.5rem;
  }
}

.main__banner {
  @include media-screen {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.main__banner-img {
  width: 121rem;
  -webkit-clip-path: url(#main-banner-shape);
  clip-path: url(#main-banner-shape);
  @include media-screen {
    display: none;
  }
}

.main__banner-img_mobile {
  display: none;
  @include media-screen {
    display: block;
  }
}

.main__banner-img-wrapper {
  position: absolute;
  top: -34rem;
  right: 0;
  z-index: -1;
  @include media-screen {
    top: -25.5rem;
    position: relative;
    width: 100vw;
    right: auto;
  }
}
.main__title {
  margin-bottom: 2.5rem;
  @include media-screen {
    margin-bottom: 3.5rem;
    br {
      display: none;
    }
  }
}
.main__subtitle {
  margin-bottom: 5rem;
  @include media-screen {
    width: 61rem;
    margin-bottom: 8rem;
  }
}
.main__banner-bottom-img-box {
  position: absolute;
  bottom: 1rem;
}
.main__banner-bottom-img {
  -webkit-clip-path: url(#main-shape-bottom);
  clip-path: url(#main-shape-bottom);
  backdrop-filter: blur(15px);
}
.main__banner-right-img-box {
  position: absolute;
  right: 121rem;
  top: 35rem;
  width: 110rem;
  z-index: -1;
  @include media-screen {
    display: none;
  }
}

// BENEFITS section

.benefits {
  margin-bottom: 15.5rem;
}

.benefits__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
  @include media-screen {
    flex-direction: column;
    gap: 4.5rem;
    margin-bottom: 6.5rem;
  }
}

.benefits__info-text {
  width: 69.5rem;
}

.benefits__item-img-box {
  width: 11rem;
  height: 11rem;
  @include media-screen {
    width: 8.4rem;
    height: 8.4rem;
    min-width: 8.4rem;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  @include media-screen {
    gap: 2.5rem;
  }
}

.benefits__item {
  background-color: $cards-bg-color;
  width: 40rem;
  height: 55rem;
  border-top: 2px solid $primary-color;
  padding: 4rem 5.7rem 4rem 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media-screen {
    width: 100%;
    height: 22.2rem;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3.8rem;
    padding: 4rem 2.5rem 4rem 3.2rem;
  }
  &-text {
    @include media-screen {
      letter-spacing: -0.1rem;
    }
  }
}

.benefits__item-title {
  color: $text-color;
  font-family: "Gotham";
  @include font(2.2rem, 130%, 700);
  @include media-screen {
    @include font(3.5rem, 120%, 700);
    margin-bottom: 1.5rem;
  }
}

.benefits__item-info {
  @include media-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// MAIN_ABOUT section

.main-about {
  padding-bottom: 16rem;
  @include media-screen {
    padding-bottom: 0rem;
  }
}

.main-about__wrapper {
  display: grid;
}

.main-about__title {
  font-family: "Soniano Sans Unicode";
  @include font(6rem, 100%);
  color: $text-color;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin-bottom: 4rem;
  @include media-screen {
   margin-bottom: 5rem;
  }
}

.main-about__img-box {
  width: 84rem;
  height: 70rem;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  filter: grayscale(1);
  &:hover {
    filter: grayscale(0);
  }
  @include media-screen {
    grid-row: 3 / 4;
    width: 68.6rem;
    height: 40rem;
    margin-top: 6.5rem;
    margin-bottom: 16.5rem;
    overflow: hidden;
  }
}

.main-about__info {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding-left: 4rem;
  width: 68%;
  @include media-screen {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 0;
    width: 100%;
  }
}

.main-about__docs {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  margin-top: -14rem;
  background-color: $cards-bg-color;
  border-top: 2px solid $primary-color;
  height: 27.8rem;
  display: flex;
  flex-direction: column;
  padding: 3.6rem;
  justify-content: space-between;
  @include media-screen {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    padding: 4rem;
    height: 30rem;
  }
}

.main-about__link-docs {
  align-self: end;
  @include media-screen {
    align-self: start;
  }
}

.main-about__subtitle {
  width: 44rem;
  @include media-screen {
    width: 97%;
  }
}

// socials block

.main__socials {
  position: sticky;
  right: 10rem;
  top: 79.5rem;
  z-index: 10;
  @include media-screen {
    position: fixed;
    top: 60%;
    height: 452vw;
    top: 140rem;
    position: absolute;
    right: 0;
    .container {
      position: sticky;
      top: 86vh;
    }
  }
}

.main__socials .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.main__socials-box:hover {
  max-height: 100rem;
}

.main__socials-box.active {
  max-height: 100rem;
  transform: translateY(-12rem);
}

.main__socials-item {
  width: 8rem;
  @include media-screen {
    width: 12rem;
  }
}

.main__socials-link {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-screen {
    width: 12rem;
    height: 12rem;
  }
}

.main__socials-img {
  width: 2.6rem;
  height: 2.6rem;
  @include media-screen {
    width: 5.6rem;
    height: 5.6rem;
  }
}

body {
  position: relative;
}

main {
  position: relative;
  z-index: 1;
}

.footer {
  position: relative;
  z-index: 1;
}

.header {
  z-index: 2;
}

.main__social-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 63.5rem;
  @include media-screen {
    padding-top: 128.2rem;
  }
}

.main__socials-box {
  position: sticky;
  top: min(63.5rem, 70%);
  left: calc(50% + 78rem);
  width: 8rem;
  display: flex;
  flex-direction: column-reverse;
  max-height: 16rem;
  height: 16rem;
  z-index: 2;
  @include media-screen {
    height: 24rem;
    max-height: 24rem;
    left: calc(50% + 22rem);
    top: min(95vh, 64%);
  }
}

.socials-container {
  max-height: 8rem;
  border-radius: 8rem;
  background-color: #FFC700;
  width: 8rem;
  display: flex;
  flex-direction: column-reverse;
  max-height: 8rem;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  &:hover {
    max-height: 100rem;
  }
  &.active {
    max-height: 100rem;
  }
  @include media-screen {
    width: 12rem;
    max-height: 12rem;
  }
}