// BANER section
.main-banner {
  padding-top: 15.5rem;
  padding-bottom: 39rem;
}
.main__banner {
  position: relative;
}
.main__info {
  width: 75rem;
}
.main__banner-img {
  width: 121rem;
  -webkit-clip-path: url(#main-banner-shape);
  clip-path: url(#main-banner-shape);
}
.main__banner-img-wrapper {
  position: absolute;
  top: -35rem;
  right: -10rem;
  z-index: -1;
}
.main__title {
  margin-bottom: 2.5rem;
}
.main__subtitle {
  margin-bottom: 5rem;
}
.main__banner-bottom-img-box {
  position: absolute;
  bottom: 1rem;
}
.main__banner-bottom-img {
  -webkit-clip-path: url(#main-shape-bottom);
  clip-path: url(#main-shape-bottom);
  backdrop-filter: blur(15px);
}
.main__banner-right-img-box {
  position: absolute;
  right: 111rem;
  top: 35rem;
  width: 110rem;
}

// BENEFITS section

.benefits {
  margin-bottom: 15.5rem;
}

.benefits__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.benefits__info-text {
  width: 69.5rem;
}

.benefits__item-img-box {
  width: 11rem;
  height: 11rem;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.benefits__item {
  background-color: $cards-bg-color;
  width: 40rem;
  height: 55rem;
  border-top: 2px solid $primary-color;
  padding: 4rem 5.7rem 4rem 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefits__item-title {
  color: $text-color;
  font-family: "Gotham";
  @include font(2.2rem, 130%, 700);
}

// MAIN_ABOUT section

.main-about {
  margin-bottom: 16rem;
}

.main-about__wrapper {
  display: grid;
}

.main-about__title {
  font-family: "Soniano Sans Unicode";
  @include font(6rem, 100%);
  color: $text-color;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin-bottom: 4rem;
}

.main-about__img-box {
  width: 84rem;
  height: 70rem;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.main-about__info {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding-left: 4rem;
  width: 68%;
}

.main-about__docs {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  margin-top: -14rem;
  background-color: $cards-bg-color;
  border-top: 2px solid $primary-color;
  height: 27.8rem;
  display: flex;
  flex-direction: column;
  padding: 3.6rem;
  justify-content: space-between;
}

.main-about__link-docs {
  align-self: end;
  align-items: center;
  display: flex;
  font-family: "Soniano Sans Unicode";
  @include font(2rem, 120%);
  color: $primary-color;
}

.main-about__link-btn {
  margin-left: 1.6rem;
  background-image: url(./assets/images/download_icon.svg);
  background-size: 90%;
  background-position: center;
}

.main-about__subtitle {
  width: 44rem;
}