.product-banner {
  margin: 8rem 0 15.5rem;
  @include media-screen {
    margin-bottom: 16.5rem;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include media-screen {
      flex-direction: column;
    }
  }
  &__slider-wrapper {
    width: 85.4rem;
    @include media-screen {
      width: 100%;
    }
  }
  &__info {
    width: 85.4rem;
    height: 53rem;
    @include media-screen {
      width: 100%;
      height: fit-content;
    }
  }
  &__subtitle {
    margin-bottom: 3rem;
  }
  &__title {
    margin-bottom: 3rem;
    @include media-screen {
      margin-bottom: 2rem;
    }
  }
  &__text {
    color: $text-color;
  }
  &__swiper-img-box {
    height: 62rem;
    overflow: hidden;
    display: flex;
    @include media-screen {
      height: 68rem;
    }
  }
  &__left-side {
    @include media-screen {
      margin-bottom: 4rem;
    }
  }
  &__info-bottom {
    background: $cards-bg-color;
    padding: 0rem 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    height: 8rem;
    @include media-screen {
      height: 10rem;
      margin-top: 2rem;
      justify-content: flex-start;
    }
  }
  .swiper-navigation {
    bottom: 4rem;
  }
  .swiper-pagination {
    bottom: 4rem !important;
  }
}

// NO PHOTO
.product-banner__wrapper_no-photo {
  gap: 4rem;
  @include media-screen {
    margin-bottom: -5rem;
  }
  .product-banner__info {
    width: 98.5rem;
    height: 62rem;
    display: flex;
    flex-direction: column;
    @include media-screen {
      width: 100%;
      height: 58rem;
      padding-top: 3rem;
    }
  }
  .product-banner {
    &__btn-box_no-photo {
      margin-top: auto;
      margin-left: auto;
      @include media-screen {
        margin-left: 0;
      }
    }
    &__no-photo-box {
      background: $cards-bg-color;
    }
    &__right-side {
      width: 100%;
      @include media-screen {
        display: none;
      }
    }
    &__btn_no-photo {
      &:hover {
        background: #00000000;
      }
    }
    &__no-photo-box {
      height: 53rem;
      background-image: url(./assets/images/catalog-detail__no-image.svg);
      background-repeat: no-repeat;
      background-position: 9% 10%;
      background-size: 9.5rem;
    }
  }
}